@model TripBookingBE.Models.User

@{
    ViewData["Title"] = "User Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <table>
        <thead >
            <th>
                @Html.DisplayNameFor(model => model.Id)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastLogin)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Avatar)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellerCode)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateModified)

            </th>
        </thead>
        <tbody>
            <td>
                @Model.Id

            </td>
            <td>
                @Model.LastLogin
            </td>
            <td>
                @Model.UserName

            </td>
            <td>
                @Model.FirstName

            </td>
            <td>
                @Model.LastName

            </td>
            <td>
                @Model.Email

            </td>
            <td>
                @Model.Avatar

            </td>
            <td>
                @Model.Name

            </td>
            <td>
                @Model.Phone

            </td>
            <td>
                @Model.Type

            </td>
            <td>
                @Model.SellerCode

            </td>
            <td>
                @Model.DateCreated

            </td>
            <td>
                @Model.DateModified

            </td>
        </tbody>
    </table>
</div>